<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NatGeo QA Regression Suite" verbose="4" thread-count="2" parallel="tests">
	<test name="NGE Home Page Test_Chrome">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.qa.nge.tests.NGEHomePageTest"/>
		</classes>
	</test>
	<test name="NGE Home Page Test_Firefox">
	<parameter name="browser" value="firefox"/>
		<classes>
			<class name="com.qa.nge.tests.NGEHomePageTest"/>
		</classes>
	</test>
</suite>